In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from sklearn.cluster import DBSCAN

%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = [12, 6]

In [2]:
data_path = "../data/origineel"

if not Path(data_path).is_dir():
    raise Warning("Data path does not exist")

In [3]:
# Lijst van .csv-bestanden
data_file_paths = [p for p in Path(data_path).iterdir() if p.suffix==".csv"]

In [4]:
# Lees de drie bestanden van het circuit as pandas DataFrame
cableconfig = pd.read_csv(data_file_paths[3], sep=";")
partialdischarges = pd.read_csv(data_file_paths[4], sep=";")
warning = pd.read_csv(data_file_paths[5], sep=";")

In [5]:
# Namen van de kolommen
time_col, location_col, charge_col = partialdischarges.columns

# Check that each row either has location and charge undefinied, or both defined:
for i in np.arange(len(partialdischarges))[np.isnan(partialdischarges[location_col]) != np.isnan(partialdischarges[charge_col])]:
    raise Warning(f"Row {i} has missing values")

# Lijst met bools die aangeeft of er op dat tijdstip een PD was
pd_occured = ~np.isnan(partialdischarges[location_col])

# De drie kolommen; alleen op tijdstippen met PD
locations = partialdischarges[location_col][pd_occured]
charges = partialdischarges[charge_col][pd_occured]
times = partialdischarges[time_col][pd_occured].apply(datetime.datetime.fromisoformat)

In [14]:

# de data in de goede vorm zetten
data = np.array(locations.sort_values())
nice_data=data.reshape(-1,1)

# DBSCAN uitvoeren
labels = DBSCAN(eps=5, min_samples=800).fit(nice_data).labels_ 

# de labels die DBSCAN geeft toevoegen aan de dataframe
partialdischarges_sorted=partialdischarges.sort_values(location_col)
partialdischarges_sorted.index = pd.Series(np.arange(len(partialdischarges_sorted)))
labels_series = pd.Series(labels)
partialdischarges_sorted["label"]=labels_series
partialdischarges_sorted

,Date/time (UTC),Location in meters (m),Charge (picocoulomb),label
0,2017-08-22 00:25:00,0.0,25141.5,-1.0
1,2018-07-24 02:35:00,0.0,1201.0,-1.0
2,2018-05-14 12:33:00,0.0,11328.0,-1.0
3,2018-07-24 05:47:00,0.0,1387.5,-1.0
4,2018-07-24 06:41:00,0.0,14008.5,-1.0
5,2018-02-18 10:34:00,0.0,15909.5,-1.0
6,2018-07-24 08:16:00,0.0,16675.5,-1.0
7,2018-07-24 21:18:00,0.0,25267.5,-1.0
8,2017-12-06 20:14:00,0.0,14483.5,-1.0
9,2017-12-11 22:01:00,0.0,24609.5,-1.0
10,2018-01-21 04:21:00,0.0,25689.0,-1.0
11,2017-12-04 04:52:00,0.0,18457.0,-1.0
12,2017-12-03 01:04:00,0.0,26674.0,-1.0
13,2018-07-25 19:12:00,0.0,2904.0,-1.0
14,2017-12-01 07:13:00,0.0,26475.5,-1.0
15,2018-07-26 03:18:00,0.0,41636.5,-1.0
16,2018-01-08 09:38:00,0.0,28060.0,-1.0
17,2017-11-28 07:24:00,0.0,16013.5,-1.0
18,2017-11-28 01:22:00,0.0,22604.5,-1.0
19,2018-03-14 22:26:00,0.0,26540.0,-1.0
20,2017-12-12 13:20:00,0.0,29566.0,-1.0
21,2018-05-14 05:49:00,0.0,26281.5,-1.0
22,2017-12-16 06:14:00,0.0,24696.0,-1.0
23,2018-02-22 12:00:00,0.0,22887.0,-1.0
24,2018-03-19 21:37:00,0.0,22385.0,-1.0
25,2018-03-19 20:11:00,0.0,27873.0,-1.0
26,2018-02-02 21:15:00,0.0,7823.0,-1.0
27,2018-02-02 21:15:00,0.0,16277.0,-1.0
28,2018-07-21 08:10:00,0.0,4375.0,-1.0
29,2017-12-29 02:33:00,0.0,16271.0,-1.0
...,...,...,...,...
368981,2018-11-13 10:35:00,NaN,NaN,NaN
368982,2018-11-13 11:00:00,NaN,NaN,NaN
368983,2018-11-13 11:01:00,NaN,NaN,NaN
368984,2018-11-13 11:02:00,NaN,NaN,NaN
368985,2018-11-13 11:03:00,NaN,NaN,NaN
368986,2018-11-13 11:04:00,NaN,NaN,NaN
368987,2018-11-13 11:05:00,NaN,NaN,NaN
368988,2018-11-13 11:06:00,NaN,NaN,NaN
368989,2018-11-13 11:07:00,NaN,NaN,NaN
368990,2018-11-13 11:08:00,NaN,NaN,NaN
368991,2018-11-13 11:09:00,NaN,NaN,NaN
368992,2018-11-13 11:10:00,NaN,NaN,NaN
368993,2018-11-13 11:11:00,NaN,NaN,NaN
368994,2018-11-13 11:12:00,NaN,NaN,NaN
368995,2018-11-13 11:13:00,NaN,NaN,NaN
368996,2018-11-13 11:14:00,NaN,NaN,NaN
368997,2018-11-13 11:15:00,NaN,NaN,NaN
368998,2018-11-13 11:16:00,NaN,NaN,NaN
368999,2018-11-13 11:17:00,NaN,NaN,NaN
369000,2018-11-13 11:18:00,NaN,NaN,NaN
369001,2018-11-13 11:19:00,NaN,NaN,NaN
369002,2018-11-13 11:20:00,NaN,NaN,NaN
369003,2018-11-13 11:21:00,NaN,NaN,NaN
369004,2018-11-13 11:22:00,NaN,NaN,NaN
369005,2018-11-13 11:23:00,NaN,NaN,NaN
369006,2018-11-13 11:24:00,NaN,NaN,NaN
369007,2018-11-13 11:25:00,NaN,NaN,NaN
369008,2018-11-13 11:26:00,NaN,NaN,NaN
369009,2018-11-13 11:27:00,NaN,NaN,NaN
369010,2018-11-13 11:28:00,NaN,NaN,NaN

In [15]:
partialdischarges_sorted.groupby("label").mean()

       Location in meters (m)  Charge (picocoulomb)
label
-1.0               870.529385           9091.547148
 0.0               349.010939           5988.147044
 1.0               605.765194           4970.828622